<h1>Welcome to {{title}} </h1>
<hr>

<div class = "container text-center">
  <form>
    <input type="text" id="result" name="result" [value] = "value" readonly>
    <div>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(7)'>7</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(8)'>8</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(9)'>9</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue("-")'>-</button>
    </div>
    <div>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(4)'>4</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(5)'>5</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(6)'>6</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue("+")'>+</button>
    </div>
    <div>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(1)'>1</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(2)'>2</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(3)'>3</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue("x")'>x</button>
    </div>
    <div>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue("C")'>C</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue(0)'>0</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='calculateTotal()'>=</button>
      <button id = "buttonContent" type="button" class="btn btn-outline-dark" (click)='displayValue("/")'>/</button>
    </div>
  </form>
</div>